#container-billet{
    display:block;
    width:100%;
}
.contents{
    display: block;
    background-color: #f3f8fb;
    width:100%;
    padding:12px;
    font-weight: 500;
    color: #666;
}
.row{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    margin: 10px;
    padding: 1.6rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
}
select{
    width:100%;
    background-color: #fff;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

#verifie{
    width: 100px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: rgb(236, 134, 134);
}
label{
    font-weight: 500;
    color: #666;
}