*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* menu principale*/
#nav-hero{
    width:100%;
    display: inline-flex;
    justify-content:center;
    background-color: rgb(236, 134, 134);
    position:fixed;
    transition: all 0.3s ease;
    position: relative;
}
#nav-hero ul{
    display: inline-flex;
}
#nav-hero ul li{
    list-style-type:none ;
    padding:20px;
}
#nav-hero ul li a{
    color :white;
   text-decoration: none;
    margin:10px;
}
/* page principale */
.head{
    width:100%;
    height:90vh;
    background-color: rgb(236, 134, 134);
    background-repeat: no-repeat;
    background-size: cover;
}
.head .container{
    display:inline-flex;
    justify-content: center;
    width:100%;
    height:80%;
}
.container .title{
    color:rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:100%;
    height:100%;
    padding: 20px;
}
.container .title h1{
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px #333;
    margin:20px;
}
.container .title p{
    line-height: 1.9;
    font-size: 1.2rem;
}

.svg{
    background-color: rgba(10, 10, 10, 0);
    position:relative;
    top:-50px;
}
/* all title-head of pages */
.title-head{
    background-color: #fff;
    display:inline-flex;
    align-items: center;
    width:100%;
    height: 80px;
    margin:0px;
}
.title-head h4{
    font-size: 24px;
    font-weight:300;
    color: #313b3d;
    letter-spacing: 0;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}
.title-head ul{
    margin: 10px;
}
.title-head ul li{
    float: left;
    margin-top: 4px;
    list-style: none;
    margin: 10px;
}
/* page reservation */
.reservation{
    display:block;
}
#container-billet{
    display:block;
    width:100%;
}

#container-billet .contents{
    display: flex;
    background-color: #f3f8fb;
    width:100%;
    padding:12px;
    font-weight: 500;
    color: #666;
}
.contents .imgContent{
    display: block;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    background-image: url('/img/res.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contents .row{
    display:flex;
    background-color: #fff;
    margin:8px;
    padding:0.25em;
    border: 1px solid #fff;
    border-radius: 0.5rem;
}
.contents .row select{
    width:100%;
    background-color: #fff;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.contents .row label{
    font-weight: 500;
    color: #666;
}

.contents .row #verifie{
    width: 100px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: rgb(236, 134, 134);
}
@media only screen and (max-width: 850px){
    .contents .imgContent{
        display:none;
    }
    .contents.mainContent{
        width:100%;
    }


}
/* payment partie */
.paymentBuilder{
    display:flex;
    width:100%;
    justify-content: center;
    background-color: #f3f8fb;
}
.paymentBuilder .paymentContainer{
    display: flex;
    width: 600px;
    margin: 10px;
    padding:0.25em;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    background-color: #fff;
}
.paymentContainer .decoContent{
    margin:0px;
    padding:0px;
    background-image: url('/img/res.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
