*{
    padding:0;
    margin:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
nav{
    width:100%;
    background-color:rgba(0, 0, 0, 0.692);
    display: inline-flex;
    justify-content:center;
}
ul{
    display: inline-flex;
}
ul li{
    list-style-type:none ;
    padding:20px;
}
ul li a{
    color :white;
   text-decoration: none;
    margin:10px;
}
.svg{
    background-color: rgba(10, 10, 10, 0);
    position:relative;
    top:-50px;
}
.head{
    width:100%;
    height:550px;
    background-image: url('../img/5.jpg');
    background-color: rgba(0, 0, 0, 0.685);
    background-repeat: no-repeat;
    background-size: cover;
}
.head .container{
    display:inline-flex;
    justify-content: center;
    position:relative;
    width:100%;
    top: 40px;
}
.card{
    display:inline-flex;
    width:50%;
    justify-content: center;
    padding: 10px;
}
.myCard{
    border:2px solid;
    border-radius: 20px;
    height: 200px;
}
.myCard .card-head img{
    width:100%;

}
.title{
    color:rgb(226, 213, 29);
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:50%;
    padding: 20px;
}
.builder{
    display:flex;
    justify-content: center;
    width:100%;
}
.builder .container-billet{
    display:flex;
    width:100%;
    border:1px solid;
    border-radius: 10px;
    padding:20px;
    margin:20px;
    height:300px;
}
.container-billet .row{
    width:50%;
    margin: 20px;
}
.prixInput{
    border:2px solid red;
    border-radius: 10px;
    transition: 1.6s All;
}
.container-billet .col{
    margin-top:10px;
}
.container-billet label{
    width:100%;
    
}
.container-billet select{
    width:100%;
    padding:8px;
    background-color: #fff;
    border:1px solid rgb(182, 182, 182);

}
.container-billet input{
    width:100%;
    padding:8px;
}
.container-billet #billet_DateReservation select{
    width:60px;
}

.container-image img{
    width:50%;
}
.buttonValid{
    display:inline-flex;
    width:100%;
    margin-top: 30px;
}
.buttonValid button{
    position:relative;
    left:0px;
    border:2px solid;
    border-radius: 20px;
    width:200px;
    height:100%;
    padding:20px;
    margin-right: 20px;
}
.btnPaye a{
    display: none;
    text-align: center;
    border:2px solid;
    border-radius: 20px;
    width:100%;
    padding: 20px;
    text-decoration: none;
    margin-bottom:0px;
}