fieldset{
    display:flex;
    width: 200px;
}

select{
    display:none;
}
legend{
    display:none;
}
.check{
    border:1px solid;
    margin: 8px;
    justify-content: center;
    cursor:pointer;
}
.conteneur{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}