fieldset{
    display:flex;
    width: 150px;
}
legend{
    display:none;
}

.check{
    display:block;
    width: 20px;
    border:1px solid;
    margin: 8px;
    cursor:pointer;
    z-index: 0;
}
label{
    position:relative;
    z-index: -1;
}
.check:hover{
    
    cursor:pointer;
}
.conteneur{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}