{% extends 'base.html.twig'%}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/yy.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/Place.css')}}">
{% endblock %}
{% block body %}
<section class="reservation">
    <div class="title-head">
        <h4>Reservation</h4>
    </div>
    <div id="carPlace">
        {%include('transport/_content.html.twig')%}
    </div>
    
    <script src="{{asset('js/Place.js')}}"></script>
    
{% endblock %}
