{% extends 'base.html.twig'%}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/yy.css')}}">
{% endblock %}
{% block body %}
<section class="reservation">
    <div class="title-head">
        <h4>Reservation</h4>
    </div>
    {%include('transport/_recherche.html.twig')%}
    <script defer>
        form = document.querySelector('form')
        ev()
        function ev(){
                const Form = new FormData(form)
                const param = new URLSearchParams()
                Form.forEach((value , key)=>{
                    param.append(key,value)
                })

                const url = new URL("https://127.0.0.1:8000/billet/edit")
                // creer un requete AJAX
                fetch(url.pathname + "?" + param.toString() + "&ajax=1",{
                    headers: {
                        "X-Requested-with":"XMLHttpRequest"
                    }
                }).then(response=>{
                    response.json()
                }).then(data =>{
                    console.log(data)
                }).catch(e=> alert(e))
        }
    </script>
{% endblock %}
