{% extends 'admin/_base.html.twig' %}

{% block title %}Edit Depart{% endblock %}

{% block body %}
    <h1>Edit Depart</h1>

    {{ include('admin/depart/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_depart_index') }}">back to list</a>

    {{ include('admin/depart/_delete_form.html.twig') }}
{% endblock %}
